* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #333;
  color: whitesmoke;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 10% 10%;
}



.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  font-size: 1rem;
}

.form{
  width: 650px;
  margin: 20px auto;
  padding: 40px 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(243, 240, 240);
}

.card-h{
  min-height: 400px;
}